@font-face {
  font-family: RobotoSlab;
  src:

    url(./fonts/RobotoSlab-VariableFont_wght.ttf) format('truetype'),
    url(./fonts/RobotoSlab-VariableFont_wght.woff) format('woff');
  font-weight: 400;

}

